vti_encoding:SR|utf8-nl
vti_featurelist:VX|vti_ACCreateNewUsers vti_ACChangePassword vti_ACNoUserGroup vti_ACCreateNewGroups vti_ACModifyGroups vti_ServiceMarkUrlDirExec
vti_dependenciesood:IR|0
vti_structfrom_raven\:80/www.dropzone.co.za:TR|15 May 2000 12:22:32 -0000
vti_webservertype:SR|msiis
vti_categories:VR|Travel Expense\\ Report Business Competition Goals/Objectives Ideas Miscellaneous Waiting VIP In\\ Process Planning Schedule
vti_navbuttonnextlabel:SR|Next
vti_textindexood:IR|0
vti_timecreated:TR|04 May 2000 16:46:08 +0200
vti_approvallevels:VR|Content\\ Review Legal\\ Review Code\\ Review Manager\\ Review
vti_extenderversion:SR|3.0.2.1706
vti_navbuttonprevlabel:SR|Back
vti_structto_www.dropzone.co.za\:80/dev.dropzone.co.za:TR|15 May 2000 12:22:32 -0000
vti_longfilenames:IX|1
vti_oldestcompatibleversion:SR|2.0.0.0
vti_welcomenames:VX|Default.htm Default.asp
vti_copytimestamp_http\://www.dropzone.co.za/dev.dropzone.co.za:TR|17 May 2000 14:11:11 -0000
vti_restartmanual:IX|0
vti_defaultcharset:SR|windows-1252
vti_defaultlanguage:SR|en
vti_autorecalc:IX|1
vti_publishmetainfokeys:VR|vti_assignedto vti_approvallevel vti_categories vti_description
vti_hassearchbot:BR|false
vti_createpostinfo:BX|false
vti_htmlextensions:SX|.htm.html.stm.html.htm.shtml.shtm.htt.htx.asp.alx.asa.
vti_navbuttonhomelabel:SR|Home
vti_disableautoimgsizeexts:SX|.asp
vti_insecureserverurl:SR|http://www.dropzone.co.za
vti_structfrom_khaoz\:80/witbank.dropzone.co.za:TR|25 Apr 2000 14:11:59 -0000
vti_structto_raven\:80/www.dropzone.co.za:TR|15 May 2000 12:22:32 -0000
vti_casesensitiveurls:IX|0
vti_textextensions:SX|.txt.txt.
vti_httpdversion:SX|Microsoft-IIS/4.0
vti_ignorekeyboard:IR|0
vti_navbuttonuplabel:SR|Up
vti_copytimestamp_http\://raven/www.dropzone.co.za:TR|10 Jul 2000 10:08:53 -0000
